html,body {
    background: #e8e7e3 url('index-background.png');
}

#content {
    position: relative;
    visibility: hidden;
    z-index: 1;
}

.cell {
    background: #fff;
    border-radius: 3px;
    moz-border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    position: absolute;
    webkit-border-radius: 3px;
}

.cell h3 {
    text-align: center;
    font-size: 16px;
    line-height: 2em;
    font-weight: normal;
    margin-bottom: 0;
    font-family: "Helvetica Neue",Arial,"Lucida Grande","Lucida Sans Unicode",Lucida,sans-serif;
    background-color: #aaaaaa;
    text-shadow: #fff 0 1px 0;
    color: #777;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(6%, #f0f0f0), color-stop(90%, #e5e5e5), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(#ffffff,#f0f0f0 6%,#e5e5e5 90%,#dddddd);
    background-image: -moz-linear-gradient(#ffffff,#f0f0f0 6%,#e5e5e5 90%,#dddddd);
    background-image: -o-linear-gradient(#ffffff,#f0f0f0 6%,#e5e5e5 90%,#dddddd);
    background-image: linear-gradient(#ffffff,#f0f0f0 6%,#e5e5e5 90%,#dddddd);
    border-bottom: 0;
}

.cell img {
    display: block;
    margin: 0 auto;
}

.cell:hover {
    box-shadow: 0 0 6px #999;
    moz-box-shadow: 0 0 6px #999;
    moz-transition: 0 0.2s ease-out;
    o-transition: 0 0.2s ease-out;
    transition: box-shadow 0.2s ease-out;
    webkit-box-shadow: 0 0 6px #999;
    webkit-transition: 0 0.2s ease-out;
}

.cell p {
    padding: 10px;
}

.cell ul {
    padding-left: 10px;
    margin-left: 10px;
}