<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ page.title}} - wuduoyi</title>
    <link href="/public/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/post.css" rel="stylesheet" type="text/css"/> 
</head>
<body>
<div id="wrap">
    {% include header.html %}
    <div id="content">
        <h1 id="title">{{ page.title }}</h1>
    {{ content }}
    </div>
    {% include disqus.html %}
</div>
</body>
</html>

