<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
    <title>{{ page.title}} - wuduoyi</title>
    <link rel="alternate" type="application/rss+xml" title="WuDuoyi Note" href="http://wuduoyi.com/rss.xml" />
    <link href="/public/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/post.css" rel="stylesheet" type="text/css"/> 
    <link href="/public/css/synatx.css" rel="stylesheet" type="text/css"/> 
</head>
<body>
<div id="wrap" class="guide">
    {% include header.html %}
    <div id="content">
        <h1 id="title">{{ page.title }}</h1>
    {{ content }}
    </div>
    {% include disqus.html %}
</div>
</body>
</html>

